<h1>New Poll</h1>

<%= form_for @poll do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :description %>:
  <%= f.text_field :description %><br />

  <%= text_field_tag :question %>

  <%= f.submit %>
<% end %>


